extends layout

block content
  main
    h1= title
    p Welcome to #{title}
    form(method="POST" enctype="multipart/form-data" action="/submit")
      label(for="input") Select your file
      input(id="input" name="file" type="file" class="inputfile")
      span
      button(type="submit") Upload
    div(class="download-container")
      input(class="download" name="download" type="text")
      button(type="button" onclick="download()") Download
  
