doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    script(src="/javascripts/select-file.js")
    script(src="/javascripts/navigate.js")
    script(src="/javascripts/download.js")
