body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

main {
  margin-top: 150px;
  background-color: #6cc24a;
  position: absolute;
  left: 0;
  right: 0;
  padding: 30px;
  height: 25vh;
}

h1 {
  color: #303030;
  font-size: 34px;
}

p {
  color: #303030;
}

label {
  color: #303030;
  display: inline-block;
  padding: 10px;
  border: 1px solid #303030;
  margin-top: 15px;
  cursor: pointer
}

label:hover {
  background-color: #339933;
}

.inputfile {
  display: none
}


.download-container {
  margin-top: 80px;
}

.download-container input {
  border: 1px solid #303030;
}

button {
  display: block;
  padding: 10px;
  margin-top: 20px;
  background: transparent;
  border: 1px solid #303030;
  color: #303030;
  cursor: pointer
}

button:hover {
  background-color: #339933;
}

span {
  color: #303030;
  padding-left: 20px;
}

a {
  color: #00b7ff;
}
